<form ngForm name="form">

  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <input type="text" name="inputName" [(ngModel)] = "name">
      </td>
    </tr>

    <tr>
      <td>
        Age: 
      </td>
      <td>
        <input type="text" name="inputAge" [(ngModel)] = "age">
      </td>
    </tr>

    <tr>
      <td>
        <button (click) = "addPerson()">
          Insert
        </button>
      </td>
    </tr>

  </table>

</form>

<h4>Pessoas cadastradas: {{ total }}</h4>

<table>

  <tr *ngFor="let person of people">
    <td>
      {{ person.name }}
    </td>
    <td>
      {{ person.age }}
    </td>
    <td (click) = "deletePerson(person)">
      <button>Deletar</button>
    </td>
  </tr>

</table>

<ng-container *ngIf="(younger.age != '') && (total != 0)">
  <h5>Mais novo é {{ younger.name }} {{ younger.age }}</h5>
  <h5>Mais velho é {{ older.name }} {{ older.age }}</h5>
</ng-container>